#Projects {
    /* position: relative; */
    display: inline-block;
    padding: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    width: 100%;
}

.img-fluid {
    width: 500px;
    border-radius: 10px;
    margin: 0 auto;
    display: inline-block;
}

.project {
    display: inline-block;
    margin: 20px;
}

.project-container {
    width: 100%;
}


