#Projects {
    height: 100vh;
    position: relative;
    display: inline-block;
    padding: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#project {
    width: 50%;
    display: inline-block;
    padding: 50px;
}

#giphy {
    width: 100%;
    border-radius: 10px;
}

