.jumbotron {
    background-color: white !important;
    padding-top: 0%;
    overflow: hidden;
}

.jumbotron-container {
    padding-top: 40%;
}

.jumbotron h1 {
    margin-top: 60px;
    font-size: 50px !important;
    font-family: 'Raleway', sans-serif;
}

.jumbotron p {
    margin-top: 40px;
}

.description {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .description {
        width: 80%;
    }
}