#profile-container {
    padding-top: 5%;
    height: 100vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 100px;
}

.about {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p{
    font-size: 21px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

img.Profile {
    height: 300px;
    border-radius: 5%;
}