#Contact {
    height: 100vh;
    padding-top: 5%;
    font-family: 'Raleway', sans-serif;
}

#Contact img {
    align-content: center;
    width: 50px;
    height: 45px;
    margin: 10px;
    margin-top: 40px;

}

.contact-content {
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}