.navbar {
    position: sticky !important;
    top: 0 !important;
    border: 3px solid green;
    margin-bottom: 0px !important;
    background-color: white !important;
    font-family: 'Raleway', sans-serif;
}

a.nav-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
