/* #blurb {
    border: 3px red solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
} */

#profile-container {
    padding-top: 5%;
    height: 100vh;
}