#Technology {
    padding-top: 5%;  
    font-family: 'Raleway', sans-serif; 
}

.technology-container {
    width: 100%;
}

.devtools {
    display: inline-block;
    width: 33%;
}

.frontend {
    display: inline-block;
    width: 33%;
}

.backend {
    display: inline-block;
    width: 33%;

}

p {
    font-size: 21px;
    padding-bottom: 5px;
}

.header {
    padding-bottom: 10px;
}

@media screen and (max-width: 540px) {
    .frontend {
        width: 100%;
        order: 0;
    }

    .backend {
        width: 100%;
        order: 1;
    }

    .devtools {
        width: 100%;
        order: 2;
    }
}